.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid;
  border-radius: 3px; }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .bs-callout p:last-child {
    margin-bottom: 0; }
  .bs-callout code {
    border-radius: 3px; }
  .bs-callout + .bs-callout {
    margin-top: -5px; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-success h4 {
  color: #5cb85c; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-info h4 {
  color: #5bc0de; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.title {
  color: #333333;
  font-size: 18px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  margin-bottom: 5px; }

.subtitle {
  color: #555555;
  font-size: 12px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  padding-bottom: 10px; }

.about {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12pt; }

.jumbotron {
  background-color: #800000;
  background-image: url("hilton.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  height: 300px; }

#nav-bg {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5); }

#nav {
  width: 500px;
  height: 34px;
  padding-top: 8px; }
  #nav a {
    color: white;
    letter-spacing: 2px;
    font-family: Century Gothic, sans-serif;
    text-shadow: 2px 2px 6px black; }

h1 {
  font-family: serif;
  font-variant: small-caps;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px 6px black;
  padding-top: 30px; }

#tagline {
  letter-spacing: 2px;
  font-family: Century Gothic, sans-serif;
  text-shadow: 2px 2px 6px black; }

.statstable th, .statstable td {
  border-top: none !important;
  border-bottom: none !important;
  border: 0px !important; }
.statstable th {
  text-align: center; }

.graph {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 50px; }

.categoryList {
  padding-top: 10px;
  margin-bottom: 0; }

.addmargin {
  margin-bottom: 50px; }

.removemargin {
  margin-bottom: 0; }

.fb-share-button {
  vertical-align: top;
  zoom: 1;
  display: inline; }
  .fb-share-button .fb_iframe_widget span {
    vertical-align: top !important; }

.progress {
  font-size: 20px;
  font: '20pt Verdana'; }
  .progress > svg {
    width: 100%;
    display: block;
    background-color: white; }

@media only screen and (max-width: 867px) {
  #name {
    font-size: 36pt; }

  #nav-bg {
    margin-top: 87px; } }
@media only screen and (max-width: 767px) {
  #name {
    margin-top: 38px; } }
@media only screen and (max-width: 672px) {
  #name {
    font-size: 30pt; }

  #nav-bg {
    margin-top: 95px; } }
@media only screen and (max-width: 542px) {
  #tagline {
    font-size: 10pt; }

  #nav-bg {
    margin-top: 56px; } }
@media only screen and (max-width: 371px) {
  #name {
    font-size: 25pt; }

  #nav-bg {
    margin-top: 72px; }

  #nav a {
    font-size: 8pt;
    letter-spacing: 1px; } }
@media only screen and (max-width: 480px) {
  #tagline {
    font-size: 10pt; } }
@media only screen and (max-width: 700px) {
  #round {
    display: none;
    visibility: hidden; } }
@media only screen and (min-width: 992px) {
  .bs-callout {
    margin: 0; }
    .bs-callout + .bs-callout {
      margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
