$font: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
$secondary-font: Century Gothic, sans-serif;
$about-font: "Open Sans", Arial, Helvetica, sans-serif;
$shadow: 2px 2px 6px black;
$spacing: 2px;

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid;
    border-radius: 3px;

    h4 {
	    margin-top: 0;
	    margin-bottom: 5px;
    }

    p:last-child {
	    margin-bottom: 0;
	}

	code {
	    border-radius: 3px;
	}

	+.bs-callout {
	    margin-top: -5px;
	}
}

@each $color, $value in (default, #777),
                        (primary, #428bca),
                        (success, #5cb85c),
                        (danger, #d9534f),
                        (warning, #f0ad4e),
                        (info, #5bc0de), {

    .bs-callout-#{$color} h4 {
        color: $value
    }

    .bs-callout-#{$color} {
        border-left-color: $value
    }
}

.title {
    color: #333333;
    font-size: 18px;
    text-align: center;
    font-family: $font;
    margin-bottom: 5px;
}

.subtitle {
    color: #555555;
    font-size: 12px;
    text-align: center;
    font-family: $font;
    padding-bottom: 10px;
}

.about {
    font-family: $about-font;
    font-size: 12pt;
}

.jumbotron {
    background-color: #800000;
    background-image: url("hilton.jpg");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    text-align: center;
    color: white;
    height: 300px;
}

#nav-bg {
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

#nav {
    width: 500px;
    height: 34px;
    padding-top: 8px;

    a {
	    color: white;
	    letter-spacing: $spacing;
	    font-family: $secondary-font;
	    text-shadow: $shadow;
	}
}

h1 {
    font-family: serif;
    font-variant: small-caps;
    text-rendering: optimizeLegibility;
    text-shadow: $shadow;
    padding-top: 30px;
}

#tagline {
    letter-spacing: $spacing;
    font-family: $secondary-font;
    text-shadow: $shadow;
}

.statstable {
	th, td {
	    border-top: none !important;
	    border-bottom: none !important;
	    border:0px !important; 
	}

	th {
		text-align: center;
	}
}

.graph {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.categoryList {
    padding-top: 10px;
    margin-bottom: 0;
}

.addmargin {
    margin-bottom: 50px;
}

.removemargin {
    margin-bottom: 0;
}

.fb-share-button {
    vertical-align: top;
    zoom: 1;
    display: inline;

    .fb_iframe_widget span {
	 	vertical-align: top !important;
	}
}

.progress {
    font-size: 20px;
    font: '20pt Verdana';

    > svg {
        width: 100%;
        display: block;
        background-color: white;
    }
}

@media only screen and (max-width: 867px) {
    #name {
        font-size: 36pt;
    }

    #nav-bg {
        margin-top: 87px;
    }
}

@media only screen and (max-width: 767px) {
    #name {
        margin-top: 38px;
    }
}

@media only screen and (max-width: 672px) {
    #name {
        font-size: 30pt;
    }

    #nav-bg {
        margin-top: 95px;
    }
}

@media only screen and (max-width: 542px) {
    #tagline {
        font-size: 10pt;
    }

    #nav-bg {
        margin-top: 56px;
    }
}

@media only screen and (max-width: 371px) {
    #name {
        font-size: 25pt;
    }

    #nav-bg {
        margin-top: 72px;
    }

    #nav a {
        font-size: 8pt;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 480px) {
    #tagline {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 700px) {
    #round { display:none; visibility:hidden; }
}

@media only screen and (min-width: 992px) {
    .bs-callout {
        margin: 0;

        +.bs-callout {
	        margin-top: 0;
	    }
    }
}